* {
  border: 1px solid #000;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 8px;
}

.drawing-area {
  aspect-ratio: 1 / 1;
  border: 1px solid #808080;
  border-collapse: collapse;
  max-height: 100%;
  max-width: 100%;
}

.pixel {
  border: 1px solid #808080;
  width: 999vmax;
}

.pixel:not(.colored):hover {
  background-color: #c8ffff;
}

.colored {
  background-color: #000;
}
