* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 8px;
}

.drawing-area {
  aspect-ratio: 1 / 1;
  border: 1px solid #808080;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  max-height: 100%;
}

.pixel {
  border: 1px solid #808080;
}

.pixel:hover {
  background-color: #c8ffff;
}

.colored {
  background-color: #000;
}
